*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
body a{
    text-decoration: none;
    color: black;
}
.body1{
    width: 1512px;
    height: 2680px;
    border: 1px solid beige;
    margin-left: auto;
    margin-right: auto;
}

.box1{
    width: 1512px;
    height: 132px;
    border: 1px solid beige;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.lev{
    margin-left: 40px;
    display: flex;
    gap: 24px;
}
.seridina{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prav{
    margin-right: 40px;
}
.pod{
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
.pod a:last-child{
    color: red;
}

.box2{
    height: 92px;
    border: 1px solid beige;
}
.box2 a,img{
    margin-left: 20px;
    color: gray;
}
.box2 h2{
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}

.box3{
    height: 80px;
    border: 1px solid beige;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.bl3{ 
    margin-left: 15px;  
}
.bl3a{
    margin-right: 15px;
}

.box4{
    width: 1432px;
    height: 1713px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blok1{
    width: 1430px;
    height: 546px;
    border: 1px solid;
    display: flex;
    flex-direction: row-reverse;
}
.k1{
    width: 358px;
    height: 546px;
}
.br{
    height: 420px;
}
.brend{
    height: 126px;
}

.blok2{
    width: 358px;
    height: 546px;
    border: 1px solid;
    display: flex;
    flex-direction: row-reverse;
    
}
.blok3{
    width: 358px;
    height: 546px;
    border: 1px solid;
    display: flex;
    flex-direction: row-reverse;
    
}