*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    background: white;
    margin-left: auto;
    margin-right: auto;
}
body a{
    text-decoration: none;
    color: black;
}
.body1{
    width: 1512px;
    height: 2200px;
    border: 1px solid beige;
    margin-left: auto;
    margin-right: auto;
}

.box1{
    width: 1512px;
    height: 132px;
    border: 0 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.lev{
    margin-left: 40px;
    display: flex;
    gap: 24px;
}
.seridina{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prav{
    margin-right: 40px;
}
.pod{
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
.pod a:last-child{
    color: red;
}

.box2{
    height: 92px;
    border: 1px solid beige;
}
.box2 a,img{
    margin-left: 20px;
    color: gray;
}
.box2 h2{
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}

.box3{
    height: 80px;
    border: 0 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.bl3{ 
    margin-left: 15px;  
}
.bl3a{
    margin-right: 15px;
}

.box4{
    width: 1432px;
    min-width: 30%;
    height: 1713px;
    margin-left: auto;
    margin-right: auto;
    border: 0 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
}
.box4 img{
    min-width: 25%;
    height: auto;
}
.blok1{
    width: 1432px;
    height: 546px;
    border: 0 solid;
    display: flex;
    flex-direction: row;
}
.k1{
    width: 25%;
    height: 546px;
}
.kar{
    width: 358px;
    height: 420px;
}
.brend{
    width: 358px;
    height: 126px;
    text-align: center;
}

.blok2{
    width: 1432px;
    height: 546px;
    border: 0 solid;
    display: flex;
    flex-direction: row;
    
}
.k2{
    width: 358px;
    height: 546px;
}
.kar2{
    width: 358px;
    height: 420px;
}
.brend2{
    width: 358px;
    height: 126px;
    text-align: center;
}

.blok3{
    width: 1432px;
    height: 546px;
    border: 0 solid;
    display: flex;
    flex-direction: row;
}
.k3{
    width: 358px;
    height: 546px;
}
.kar3{
    width: 358px;
    height: 420px;
}
.brend3{
    width: 358px;
    height: 126px;
    text-align: center;
}
.podmenu{
    width: 1432px;
    height: 70px;
    border: 0px solid;
    display: flex;
    align-items: center;    
}
.nomer{
    margin-left: 35px;
    color: grey;
}
.perehod{
    padding: 600px;
}    
footer{
    width: 1512px;
    height: 663px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

.box5{
    width: 1512px;
    height: 583px;
    margin-top: 80px;
    border: 0 solid;
}

.p{
    margin-left: 40px;
    height: 24px;
}
.email{
    margin-left: 40px;
    margin-top: 20px;
    height: 54px;
    width: 600px;
    color: dimgray;
}
button{
    margin-left: 20px;
    width: 143px;
    height: 54px;
    color: white;
    background-color: black;
}
.blok{
    width: 1512px;
    height: 278px;
    padding: 20px 40px 0 40px;
    display: flex;
}
.bloks{
    width: 20%;
    display: block;
    flex-direction: row;
}
h3{
    color: dimgray;
}
.bloks a{
    display: flex;
    margin-top: 15px
}
.info{
    display: flex;
    width: 1512px;
    height: 64px;
    border: 0 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 70px 40px 0 40px;
}
.ceti img{
    width: 180px;
    margin-left: -5px;
    margin-top: 15px;
}
.t{
    color: darkgray;
    margin-right: auto;
    margin-top: auto;
}
.kart{
   margin-top: auto;
   margin-right: 40px;
}

@media screen and (max-width: 420px){
    .lev .seridina .pod{display: none;}
    .box4{flex-direction: row; 
          flex-basis: 100%;      
     }
     img{
        max-width: 100%;
        height: auto;
     }
     
}